body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

canvas {
  border: 1px solid white;
  background-color: green;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
#header ul {
  list-style-type: none;
  color: white;
  margin-right: 80px;
}



#header h1 {
  color: white;
  margin-left: 50px;
}

.start-page {
  margin: 0 auto;
  display: block;
  background-image: url('../images/background.jpg');
  width: 800px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.start-text{
  text-align: center;
  padding: 50px;
  color: white;
  font-size: 4em;
}

.start-btn {
  font-size: 1em;
  margin:290px 350px;
  padding: 20px 50px;
  color: white;
  background-color: red;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 10px;
}

.gif {
  display: block;
  margin: 200px auto;
  width: 600px;
  height: 700px;
}


#game-over {
  margin: 50px auto;
  text-align: center;
  background-image: url('../images/losing-soccer-game.jpg');
  width: 750px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}
#game-over h1 {
  color: white;
  margin-top: 20px
}

#try-again{
  padding:15px;
  border-radius: 10px;
  background-color: red;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}

#win-page{
  color: white;
  margin: 0 auto;
  display: block;
  background-image: url('../images/champions.jpg');
  width: 800px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  border-radius: 10px;
}

#win-page button {
  font-size: 1em;
  display: block;
  margin: 50px auto;
  padding: 15px;
  border-radius: 10px;
  background-color: red;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
